<div class="w-100 h-100">
  <div class="w-full flex flex-wrap text-center justify-center p-5 mb-5">
    <h1 class="text-4xl font-bold">Liste des commandes</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5 w-full items-strech justify-center">
    {% for id_commande, commande in commandes.items() %}
    <a  href="/commandes/modifier?id={{ id_commande }}" class="w-full h-full block">
    <div class="bg-white rounded-lg shadow p-4 transition duration-300 hover: transform hover:scale-105 cursor-pointer h-full">
      <h3 class="text-xl font-bold">Commande n°{{ id_commande }}</h3>
      <p class="text-gray-500">
        Client : {{ commande.nom }} {{ commande.prenom }}
      </p>
      <p class="text-gray-500">Date : {{ commande.date }}</p>
      <hr class="my-2" />
      <ul class="text-sm">
        {% for produit in commande.produits %}
        <li>
          {{ produit.nom }} ({{ produit.type }}) — {{ produit.quantite }} x {{
          produit.prix_unitaire }} GNF
        </li>
        {% endfor %}
      </ul>
      <p class="font-bold text-green-600">Total : {{ commande.total }} GNF</p>
    </div>
    </a>
    {% endfor %}
  </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
